@import "../../../assets/styles/functions";
@import "../../../assets/styles/mixins";

.track-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;

  @include mobile {
    height: 170px;
  }

  &.next {
    justify-content: flex-start;
  }

  &.previous {
    justify-content: flex-end;
  }

  &.active {
    justify-content: center;
  }

  &:not(.active) {
    margin: 0 -64px;

    @include mobile {
      margin: 0 -38px;
    }
  }

  img {
    width: 128px;
    height: 128px;
    transition: all 0.5s ease-in-out;

    @include mobile {
      width: 76px;
      height: 76px;
    }
  }

  &.active img {
    width: 320px;
    height: 320px;

    @include mobile {
      width: 160px;
      height: 160px;
    }
  }

  .logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #1f1937;
    border: 5px solid color("primary");

    @include mobile {
      width: 45px;
      height: 45px;
    }

    .usertive-logo {
      width: 28px;
      height: auto;

      @include mobile {
        width: 14px;
      }
    }
  }
}
