@import "../../assets/styles/functions";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

section.controls {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  .controls-container {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 $spacing;
  }

  .control-item {
    height: 26px;
    padding: 10px;
    width: auto;
    transition: all 0.3s ease-in-out;

    &.active {
      background-color: color("accent");
      border-radius: 50%;
    }

    @include mobile {
      height: 20px;
      padding: 5px;
    }
  }

  .play-btn {
    position: relative;
    width: 270px;
    height: 279px;

    @include mobile {
      height: 170px;
    }

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      transition: all 0.2s ease-in-out;

      &.active {
        opacity: 1;
      }

      &.inactive {
        opacity: 0;
      }

      @include mobile {
        width: 75%;
        height: auto;
      }
    }
  }

  .progress-bar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 $spacing;

    .duration-info {
      width: 80px;
      text-align: center;
      font-size: 18px;
      line-height: 36px;
      color: color("gray");
    }

    .progress-bar {
      width: 100%;
      height: 1px;
      border-radius: 0.5px;
      margin: 0 21px;
      background-color: color("accent");

      .progress {
        height: 5px;
        border-radius: 5px;
        background: color("accent");
        position: relative;
        top: -2px;
      }
    }
  }

  .waveform {
    min-width: 100%;
    margin-top: 40px;
    align-self: flex-end;
  }
}
