@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.tracks-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -64px;
}
