@import "../../assets/styles/functions";

@mixin uppercase-text {
  font-size: 18px;
  line-height: 36px;
  text-transform: uppercase;
  color: color("secondary");

  @content;
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}
